.header__logo {
  max-width: 142px;
}

.header__logo:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}


@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 104px;
    object-fit: contain;
    padding-left: 27px;
  }
}